# version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: sidebery-backend
    restart: unless-stopped
    ports:
      - "4000:4000"
    volumes:
      - ./backend/data:/app/data
    environment:
      - NODE_ENV=production

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: sidebery-frontend
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - backend
